<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @universe.name %>
</p>

<p>
    <b>This universe contains the following stories:</b>
    <%= render 'stories/list' %>
</p>


<%= link_to 'Back', universes_path %>
