<div class="tabs-left pull-right">
  <ul class="nav nav-tabs">
    <% if current_universe == nil %>
        <li class='active'>
    <% else %>
        <li>
    <% end %>
        <%= link_to "All universes",root_path %>
    </li>
    <% Universe.all.each do |universe| %>
        <% if current_universe == universe %>
            <li class = 'active'>
        <% else %>
            <li>
        <% end %>
            <%= link_to universe.name,universe %>
        </li>
    <% end %>
  </ul>
</div>